<div class="navbar navbar-fixed-bottom footer">
        <div class="footer-content">
             <ul class="footer-content-menu">
                <li>
                    <a href="index.html"><img src="assets/img/almanac/footer/logo-almanac-footer.png" alt="ALMANAC" title="ALMANAC"></a>
                </li>
                 <li><b>ABOUT US</b>
                        <ul class="footer-list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">How it Works</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">CJ Fallon</a></li>
                        </ul>
                    </li>
                 <li><b>CATEGORIES</b>
                        <ul class="footer-list">
                            <li><a href="#">Science</a></li>
                            <li><a href="#">Geography</a></li>
                            <li><a href="#">Business Studies</a></li>
                            <li><a href="#">Languages</a></li>
                            <li><a href="#">Humanities</a></li>
                            <li><a href="#">Resources</a></li>
                        </ul>
                    </li>
                 <li><b>FOLLOW US</b>
                        <ul class="footer-list">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Youtube</a></li>
                            <li><a href="#">Vimeo</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Vine</a></li>
                        </ul>
                    </li>
                    <li><b>KEEP IN TOUCH</b>
                       <ul class="footer-list">
                           <li>
                           <div class="md-form input-group">
                                    <input type="text" class="form-control" placeholder="Your e-mail..." aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-chevron-right fa-lg"></i></span>
                                </div>
                           </li>
                       </ul>
                   </li>
            </ul>
        </div>
    </div>
    
