<!--<footer class="site-footer">

  Copywrite-information|Privacy Policy
  <button md-button [routerLink]="['/']">
    Home
    </button>
  <button md-button [routerLink]="['/about']">
    About
    </button>

  <button md-button [routerLink]="['/contact']">
    Contact
    </button>
  <button md-button [routerLink]="['/FAQ']">
    FAQ's
    </button>
  <button md-button [routerLink]="['/support']">
    Support
    </button>

  <button md-button [routerLink]="['/T+C']">
    T+C's
    </button>

</footer>-->
<!--Footer-->
<footer class="page-footer center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-2 offset-md-1">
                <h5 class="title">ALMANAC</h5>
                <p>LOGO</p>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-2">
                <h5 class="title">Home</h5>
                <ul>
                    <li><a href="#!">Home</a></li>
                    <li><a href="#!">About Us</a></li>
                    <li><a href="#!">Contact</a></li>
                    <li><a href="#!">Search</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-md-2">
                <h5 class="title">About Us</h5>
                <ul>
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">College</a></li>
                    <li><a href="#!">Learnovate</a></li>
                    <li><a href="#!">People</a></li>
                </ul>
            </div>
            <!--/.Third column-->
            <div class="col-md-2">
                <h5 class="title">About Us</h5>
                <ul>
                    <li><a href="#!">Company</a></li>
                    <li><a href="#!">College</a></li>
                    <li><a href="#!">Learnovate</a></li>
                    <li><a href="#!">People</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                  <h5 class="title">SEARCH</h5>
                <form class="form-inline waves-effect waves-light">
                <input class="form-control" type="text" placeholder="Search here">
                    </form>
            </div>
            <hr class="hidden-md-up">
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <div class="call-to-action">
        <ul>
            <li>
                <h5>Register for free</h5></li>
            <li><a [routerLink]="['/account']" class="btn btn-danger">Sign up!</a></li>
        </ul>
    </div>


    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2015 Copyright: <a href="https://www.google.com">Learnovate Center / Trinity College Dublin </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->