
<!--Projects section v.3-->
<section class="section text-center">

    <!--Section heading-->
    <h1 class="section-heading">Learn better, with our Digital Content Collections®.</h1>
    <!--Section description-->
    <p class="section-description">CJF Books, check. Flickr educational images, check. YouTube selected videos, check.
    We combine these using our cloud-based intelligent nuclear-reactor-powered system and produce Almanac's Digital Content Collections, tailored to the needs of each and every learner.
    For every age, every level.</p>
   <a [routerLink]="['/account']" class="btn btn-danger">Sign up!</a>
   <hr>
    <!--First row-->
<div class="row">
       <div class="col-md-12">
        <h5>Some of our best features®.</h5>
        <br>
        </div>
    </div>
    <div class="row">
     
        <!--First column-->
        <div class="col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(16).jpg">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="red-text"><h3><i class="fa fa-line-chart"></i> Rich Content</h3></a>
                <p>We combine our book text, written by our expert authors, with carefully selected images from flickr and YouTube videos.</p>
            </div>

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(27).jpg">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="blue-text"><h3><i class="fa fa-eye"></i> Advanced Search</h3></a>
                <p>We offer an advanced search engine that only provides access to results that are appropriate for the age and level of the learner.</p>
            </div>

        </div>
        <!--/Second column-->

    </div>
    <!--/First row-->

    <!--Second row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(81).jpg">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="cyan-text"><h3><i class="fa fa-tree"></i> Data Privacy</h3></a>
                <p>Data Privacy is important to us. We store stuff on Microsoft Azure servers with the latest security protocols.</p>
            </div>

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(73).jpg">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="deep-purple-text"><h3><i class="fa fa-ship"></i> Office 365 Ready</h3></a>
                <h3></h3>
                <p>Almanac can export collections to OneNote and other Office 365 tools that your school is already using.</p>
            </div>

        </div>
        <!--/Second column-->

    </div>
    <!--/Second row-->
</section>
<!--/Projects section v.3-->
<section class="section extra-margins">

    <!--Section heading-->
    <h1 class="section-heading">Approved by who matters most. Students.</h1>
 
    <!--First row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(80).jpg" alt="Sample image for first version of blog listing">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7 mb-r">
            <p>I am so thankful that Almanac has allowed me to learn about something that I'm truly passionate about. Love Almanac.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
        </div>
        <!--/Second column-->

    </div>
    <!--/First row-->

    <hr class="hr-mobile">

    <!--Second row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-7 mb-r">
    
              <p>I am so thankful that Almanac has allowed me to learn about something that I'm truly passionate about. Love Almanac.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
            <a class="btn btn-cyan">Read more</a>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(91).jpg" alt="Second image in the first version of blog listing">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/Second column-->

    </div>
    <!--/Second row-->

    <hr class="hr-mobile">

    <!--Third row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(32).jpg" alt="Thrid image in the blog listing.">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7 mb-r">
      <p>I am so thankful that Almanac has allowed me to learn about something that I'm truly passionate about. Love Almanac.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
        </div>
        <!--/Second column-->

    </div>
        <hr class="hr-mobile">

    <div class="row">

        <!--First column-->
        <div class="col-md-7 mb-r">
        
              <p>I am so thankful that Almanac has allowed me to learn about something that I'm truly passionate about. Love Almanac.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
            <a class="btn btn-cyan">Read more</a>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(91).jpg" alt="Second image in the first version of blog listing">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/Second column-->

    </div>

</section>
<!--/Section: Blog v.1-->