 <br>
  <div class="row">
       <div class="col-md-12">
          <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Pricing</h4>
                        <!--Text-->
                        <p class="card-text">We have partnered with our friends at Wriggle to offer you the best prices and service. Select one program below and pay at the Wriggle store with your existing account.<br>
                        <br>
                          New Customer? Catchy amazing marketing phrase here!</p>
                    </div>
                    <!--/.Card content-->
                </div>
    </div>
  </div>
  <br>
    <div class="row">
         <div class="col-md-4">
             <br>
             <br>
             <br>
          <div class="card">
                  <!--Card image-->
                  <div class="view overlay hm-white-slight">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" alt="">
                      <a href="#">
                          <div class="mask waves-effect waves-light"></div>
                      </a>
                        <div class="card-block">
                                <!--Name-->
                                <h4 class="card-title">BRONZE</h4>
                                  <p class="card-text">FREE</p>
                                <hr>
                                <!--Quotation-->
                                <p>10,000 Compositions<br>
                                Geography Content<br>
                                1 User<br>
                                90 day</p> 
                            </div>
                  </div>
              </div>
    </div>
       <div class="col-md-4">
               <div class="card">
                   <div class="card-block" style="background-color: green">
                              <p style="color:white">BEST VALUE</p>
                            </div>
                  <!--Card image-->
                  <div class="view overlay hm-white-slight">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" alt="">
                      <a href="#">
                          <div class="mask waves-effect waves-light"></div>
                      </a>
                        <div class="card-block" style="background-color: green">
                                <!--Name-->
                                <h4 style="color:white" class="card-title">SILVER</h4>
                              <p style="color:white" class="card-text">$9.999/MONTH</p>
                                <hr>
                                <!--Quotation-->
                                <p style="color:white">100,000 Compositions<br>
                                  limited Content<br>
                                  5 Users<br>
                                  Ideal for Parents!</p>
                            </div>
                  </div>
              </div>
    </div>

    <div class="col-md-4">
        <br>
             <br>
             <br>
          <div class="card">    
                  <!--Card image-->
                  <div class="view overlay hm-white-slight">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" alt="">
                      <a href="#">
                          <div class="mask waves-effect waves-light"></div>
                      </a>
                      
                  </div>
                    <div class="card-block">
                <!--Title-->
                      <h4 class="card-title">GOLD</h4>
                      <!--Text-->
                      <p class="card-text">$299.999/MONTH.</p>
                          <hr>
                          <p>100,000 Compositions<br>
                                  limited Content<br>
                                  5 Users<br>
                                  Ideal for Schools!</p>
                      </div>
              </div>
    </div>
 
  </div>