

<div class="navbar general-navbar-header">
 
                    <div class="logo-almanac">
                        <a [routerLink]="['/']"><img src="./assets/img/almanac/header/logo-almanac-arrow.png" alt="ALMANAC" title="ALMANAC"></a>
                    </div>


                <div class="menu">
                    <ul class="nav navbar-nav pull-right">
                      <li><a [routerLink]="['/modules']">Home</a></li>
                      <li><a [routerLink]="['/pricing']" href="#">Pricing</a></li>
                      <li><a [routerLink]="['/about']" href="#">How it works</a></li>
                      <li><a [routerLink]="['/account']" href="#">My Account</a></li>
                    <li *ngIf="authenticated1">
                                    <a  class="nav-link waves-effect waves-light"><i class="fa fa-gear"></i>{{user}}</a>
                                </li>
                    <li class="nav-item dropdown btn-group">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" style="height:30px;width:30px;" class="img-fluid rounded-circle z-depth-1" />
                            <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  </a>  
                            <div class="dropdown-menu dropdown-warning dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <a [routerLink]="['/account']" *ngIf="!authenticated1" class="dropdown-item waves-effect waves-light" >Log In</a>
                                    <a *ngIf="authenticated1" class="dropdown-item waves-effect waves-light" href="http://localhost:3000/onenote/disconnect">Disconnect</a>
                                    </div>
                        </li>
                    </ul>
                </div>

                <div class="header-bg">
                    <div class="header-bg-img"></div>
                    <div class="header-bg-break"></div>
                </div>

            </div>
          
            
        <div class="categories">
            
            <ul>
              <li class="categories-list">Categories:</li>
               <li>
                    <a [routerLink]="['/']">SCIENCE <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a [routerLink]="['/about']">BUSINESS</a>
                </li>
                <li>
                    <a  [routerLink]="['/contact']">GEOGRAPHY</a>
                </li>
                <li>
                    <a [routerLink]="['/contact']">MINECRAFT</a>
                </li>
                <li>
                    <div class="browse">
                        <ul class="browse-list">
                            <li>
                              <div class="categories-icon"><a href="#"><i class="fa fa-bars fa-lg"></i></a></div>
                          </li>
                            <li>
                                <div class="md-form input-group">
                                    <input type="text" class="form-control form-control-home" placeholder="Search for..." aria-describedby="basic-addon2">
                                    <span class="input-group-addon input-group-search" id="basic-addon2"><i class="fa fa-search fa-lg"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <br />
        </div>

