
<!--<div *ngFor= "let image of img_data.section">
        <h4> {{image.text.text}}</h4>
        <md-grid-list cols="3" rowHeight="2:2.5">
  <md-grid-tile *ngFor= "let url of image.images.image">
           <md-card  class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{url.caption}}</md-card-title>

  </md-card-header>
  <img  md-card-image [src]="url.url">
  <md-card-content>
    <p>
       {{url.caption}}
    </p>
  </md-card-content>
</md-card>
</md-grid-tile></md-grid-list>
</div>-->


<!--
<md-grid-list cols="3" rowHeight="2:3">
  <md-grid-tile>
     <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="../assets/images/shiba2.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
      <section class="example-section">
      <label class="example-margin">Progress:</label>
      <md-slider class="example-margin" ></md-slider>
      <md-progress-bar mode="indeterminate"></md-progress-bar>
    </section>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
  </md-grid-tile></md-grid-list>-->
<br>
<div class="row">
             <div class="col-md-12"  >
                    <div class="card">
                    <div class="view overlay hm-white-slight">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-block">
  
                        <h4 class="card-title">ARTICLE Results showing for {{data.topic}} and {{data.chapter}}</h4>
                        <p class="card-text">    
                        <a class="btn btn-primary primary" (click)="savedata()">Save To Favourites</a>
                          <a class="btn btn-primary primary" (click)="showdata()">View Favourites</a>
                        <a class="btn btn-primary primary" (click)="savenote()">Save To Note</a>
                          <a class="btn btn-primary primary" (click)="saveonenote()">Save To One Note!</a>
                         <a class="btn btn-primary primary" (click)="saveonenote2()">Save To One Note2!</a>
                         <br>
                          <md-progress-spinner *ngIf="loading == true" class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
                          </p>
                    </div>
                </div>
             </div>  
             </div>
             <br>


 <div class="row" *ngIf="!saved" >
             <div class="col-md-12" *ngFor= "let image of img_data"  >
                   <div class="card">
          
                        <div class="card-block" >
                  
                        <p [innerHTML]="image.text.text" class="card-text">    </p>      
                        <h2> Images under this section </h2>
                    </div>
                     <carousel [noWrap]="noLoopSlides">
                       <div class="view overlay hm-white-slight">
                          <slide  *ngFor= "let url of image.images" [active]="url.active" >
                        <img [src]="url.url" alt="" style="width:100%;height:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          </slide>
                          </div>
                        </carousel>
                         <div  class="mask waves-effect waves-light">
                           <iframe width="560" height="315" [src]="image.videos[0].url | safe" frameborder="0" allowfullscreen></iframe></div>
                   <!--<div class="view overlay hm-white-slight" *ngFor= "let url of image.images.image" >
                    
                  
                     <div class="card-block" >
                            
                                  <h4 class="card-title">{{url.caption}}</h4>
                                  <hr>
                             
                          </div>
                        <img [src]="url.url" alt="" style="width:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          
                        </div>-->
                         
                         
              </div>
              <br>
              </div>
                     
            </div>
            <div *ngIf="saved">
            <div class="row" *ngFor= "let data of saved_data;let i=index">
                <div class="col-md-12">
                  <div class="card">    <h2>Saved Article {{i+1}}</h2></div>
                   <br>
                  </div>
                 
             <div class="col-md-12" *ngFor= "let image of data.sections.section"  >

                   <div class="card">

                        <div class="card-block" >
                          
                        <p [innerHTML]="image.text.text" class="card-text">    </p>      
                        <h2> Images under this section </h2>
                    </div>
                     <carousel [noWrap]="noLoopSlides">
                       <div class="view overlay hm-white-slight">
                          <slide  *ngFor= "let url of image.images.image" [active]="url.active" >
                        <img [src]="url.url" alt="" style="width:100%;height:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          </slide>
                          </div>
                        </carousel>
                         
              </div>
              <br>
              </div>       
              </div>     
                     
            </div>
           
                        <!--<div *ngFor= "let video of videoarray" class="mask waves-effect waves-light">
                           <iframe width="560" height="315" [src]="sanitizer.bypassSecurityTrustResourceUrl(video.url)" frameborder="0" allowfullscreen></iframe>
                          {{video.url}}</div>-->
                         




   <!-- Article without carousel
     <div class="row" >
             <div class="col-md-12" *ngFor= "let image of img_data.section"  >
                   <div class="card">
          
                        <div class="card-block" >
                  
                        <p [innerHTML]="image.text.text" class="card-text">    </p>      
                    </div>
                   <div class="view overlay hm-white-slight" *ngFor= "let url of image.images.image" >
                  
                     <div class="card-block" >
                            
                                  <h4 class="card-title">{{url.caption}}</h4>
                                  <hr>
                             
                          </div>
                        <img [src]="url.url" alt="" style="width:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          
                        </div>
                         
                         
              </div>
              <br>
              </div>
                     
            </div>-->
