/* You can add global styles to this file, and also import other style files */
  @font-face {
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto-Regular.ttf");
    }

body {
  margin: 0;
  font-family: "Roboto";
}
@import "../node_modules/ng2-flex-layout/dist/ng2-flex-layout.css";
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import "~nouislider/distribute/nouislider.min.css";

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Lato-Regular";
  src: url("/assets/fonts/Lato-Regular.ttf");
}
/*
.main-sec {
    padding: 10px;
}

.full-height {
    height: 100%;
}

.dash-card {
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding: 0px!important;
    height: 100%;
}

md-card-header {
    background-color: #237DC1;
    height: 50px!important;
    margin: 0px!important;
}

.md-card-header-text {
    height: auto!important;
}

md-card-title {
    color: #FFF;
    font-size: 26px!important;
    margin: 0px!important;
}

.dash-text {
    color: #237DC1;
    font-size: 36px;
    font-weight: 400;
    margin: 0px;
    font-family: 'Lato-Regular'!important;
}

.dash-grey {
    color: #87929A;
    font-size: 36px;
    font-weight: 400;
    margin: 0px;
    font-family: 'Lato-Regular'!important;
}

.loc {
    color: #87929A;
    font-size: 22px;
    font-weight: 400;
    margin: 0px;
    font-family: 'Lato-Regular'!important;
}

.small-header {
    color: #237DC1;
    font-size: 26px;
    margin: 20px;
    font-weight: 400;
    font-family: 'Lato-Regular'!important;
}

.fb-text {
    color: #237DC1;
    font-size: 26px;
    margin: 0px;
    font-weight: 400;
    font-family: 'Lato-Regular'!important;
}

p {
    color: #87929A;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    font-family: 'Lato-Regular'!important; 
    padding-bottom: 15px;
    padding-right: 15px;
}

chart {
    width:100%;
    height: 260px;
}

md-icon {
    height: 36px!important;
    width: 36px!important;
}

.center {
    text-align: center;
}

.border {
    border-bottom: 2px solid #D8D8D8;;
}

.padding-sml {
    padding: 15px;
}

.chart-size {
    height: 30%;
}

@media only screen and (max-height: 870px) {
    .hide {
        display: none!important;
    }

    chart {
        height: 130px;
    }
    p {
        font-size: 12px!important;
    }
    .small-header {
        margin: 20px;
    }
    .chart-size {
        height: 20%;
    }
}

@media only screen and (max-height: 950px) {
    p {
        font-size: 13px;
    }
    .dash-grey, .dash-text {
        font-size: 25px;
    }
    .loc {
        font-size: 20px;
    }
    .small-header,.fb-text  {
        font-size: 20px!important;
    }
    md-card-title {
        font-size: 19px!important;
    }
}

@media only screen and (max-width: 1350px) {
    p {
        font-size: 13px;
    }
    .dash-grey, .dash-text {
        font-size: 25px;
    }
    .loc {
        font-size: 20px;
    }
    .small-header,.fb-text  {
        font-size: 20px!important;
    }
    md-card-title {
        font-size: 19px!important;
    }
}

@media only screen and (max-width: 900px) {
    .full-height {
        height: auto;
        margin-top: 10px;
    }
    .dash-card {
        min-height: 70px;
    }
    .hide {
        display: none!important;
    }
}
*/
