.backgroundHome{
    background-image: url('./assets/images/almanac3.jpg');
    background-size: cover;
} 
/*.titleHome{
    padding-top: 200px;
    padding-left: 34%;
    color: white;
}*/

md-card{
    margin:10%;
    padding:5%;
    /*background-color: rgba(0, 173, 238, 0.6);*/
}
.example-fill-remaining-space {

  flex: 1 1 auto;
}
.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('./assets/images/shiba2.jpg');
  background-size: cover;
}