  <br>
  <div class="row">
       <div class="col-md-12">
          <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Learn Better</h4>
                        <!--Text-->
                        <p class="card-text">Select from our amazing Digital Content Collections® and find out about your favourite topics!</p>
                    </div> 
                    <!--/.Card content-->
                </div>
    </div>
  </div>
  <br>
 <div class="row">
            <div class="col-md-6">
       <div class="card">
           <div class="card-block">
        <!--Title-->
              <h4 class="card-title">Some Category</h4>
              <!--Text-->
              <p class="card-text">Wonderful one- or two-liner here. Make sure is snappy..</p>
               </div>
          <!--Card image-->
          <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" alt="">
              <a href="#">
                  <div class="mask waves-effect waves-light"></div>
              </a>
                <div class="card-block">
                        <!--Name-->
                        <h4 class="card-title">Anna Doe</h4>
                        <hr>
                        <!--Quotation-->
                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                    </div>
          </div>
      </div><br>  
         <div class="card">
           <div class="card-block">
        <!--Title-->
        <h4 class="card-title">Age / Grade</h4>
        <!--Text-->
        <p class="card-text">Biology.</p>
    </div>
    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
        <a href="#">
            <div class="mask waves-effect waves-light"></div>
        </a>
          <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
              </div>
    </div>

</div> 
      </div>
      <div class="col-md-6">
        <div class="card">
           <div class="card-block">
        <!--Title-->
        <h4 class="card-title">J K Rowlings</h4>
        <!--Text-->
        <p class="card-text">Elements Of Chemistry.</p>
    </div>
    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
        <a href="#">
            <div class="mask waves-effect waves-light"></div>
        </a>
          <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
              </div>
    </div>

</div><br>
   <div class="card">
           <div class="card-block">
        <!--Title-->
        <h4 class="card-title">Business Studies</h4>
        <!--Text-->
        <p class="card-text">Introduction to Business Studies.</p>
    </div>
    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" class="img-fluid" alt="">
        <a href="#">
            <div class="mask waves-effect waves-light"></div>
        </a>
          <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
              </div>
    </div>

</div> </div></div>
<br>

<div class="card testimonial-card">

              <!--Bacground color-->
              <div class="card-up default-color-dark">
              </div>

              <!--Avatar-->
              <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%288%29.jpg" class="rounded-circle img-responsive">
              </div>

              <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
              </div>

          </div>

<!--
<div fxLayout="row">
<div style="background-color:none" fxFlex="100" >
   <h1 style="margin-left:3%"> Learn Better</h1>  <h3 style="margin-left:3%">Select from our amazing Digital Content Collections® and find out about your favourite topics!</h3>
</div>
</div>
<md-grid-list cols="3" rowHeight="2:2.5">
  <md-grid-tile>
     <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="../assets/images/shiba2.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
      <section class="example-section">
      <label class="example-margin">Progress:</label>
      <md-slider class="example-margin" ></md-slider>
      <md-progress-bar mode="indeterminate"></md-progress-bar>
    </section>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="../assets/images/shiba2.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card></md-grid-tile>
  <md-grid-tile>
     <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="../assets/images/shiba2.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
  </md-grid-tile>
  <md-grid-tile>
     <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="../assets/images/shiba2.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>

  </md-grid-tile>
</md-grid-list>


        <div class="backgroundHome" style="width:100%" fxFill fxLayout="row" fxLayoutAlign="space-between center">
       <md-card >
        <md-card-title>Step 1</md-card-title>
        <md-card-content>
          <p style="color:white">Tell us about your Topic</p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>Step 2</md-card-title>
        <md-card-content>
          <p>Tell us a Little bit about your query</p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>Step 3</md-card-title>
        <md-card-content>
          <p>We will show you the Nearest Results</p>
        </md-card-content>
      </md-card>
      </div>-->

<!--<home-form></home-form>-->
