   <div class="bg-banner">
                
                <div class="content-banner">
                    <h2>Learn better, <br />
with our Digital Content Collections®.</h2>
                    <hr class="hr-banner" />
                    <p>CJF Books, check. Flickr educational images, check. YouTube selected videos, check.<br /><br />

We combine these using our cloud-based intelligent nuclear-reactor-powered system 
and produce Almanac's Digital Content Collections, tailored to the needs of each and
                    every learner.</p>

                    <div class="text-banner">
                        For every age, every level.
                    </div>
                    <div class="bt-banner">
                        <button type="button" class="btn btn-signin">Learn more below</button>
                    </div>
                </div>
                <div class="img-banner"></div>
            </div>
            
            <div class="features">
                <h1>Some of our best features</h1>
                <br /><br />
                
                <ul class="icon-list">
                    <li class="icon-component">
                        <button type="button" class="icon-button"><i class="fa fa-folder-open"></i></button>
                        <br />
                        <div class="icon-title">
                            Rich Content<br />
                        </div>
                        <div class="icon-text">
                            We combine our book text, written by our expert authors, with carefully selected images from flickr and YouTube videos.
                        </div>
                    </li>
                    <li class="icon-component">
                        <button type="button" class="icon-button"><i class="fa fa-search"></i></button>
                        <br />
                        <div class="icon-title">
                            Advanced Search<br />
                        </div>
                        <div class="icon-text">
                            We offer an advanced search engine that only provides access to results that are appropriate for the age and level of the learner.
                        </div>
                    </li>
                    <li class="icon-component">
                        <button type="button" class="icon-button"><i class="fa fa-database"></i></button>
                        <br />
                        <div class="icon-title">
                            Data Privacy<br />
                        </div>
                        <div class="icon-text">
                            Data Privacy is important to us. We store stuff on Microsoft Azure servers with the latest security protocols.
                        </div>
                    </li>
                </ul>
                    
            </div>
            
            
            <br /><br /> 
  
 


