<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-dark purple lighten-1 ">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>ALMANAC</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Login</a>
                </li>
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item">Contact</a>
                        <a class="dropdown-item">Posts</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline waves-effect waves-light">
                <input class="form-control" type="text" placeholder="Search">
            </form>
        </div>
    </div>
</nav>
    <div class="row">
            <div class="col-md-6">

                <!--Card--><div class="md-form">
    <input type="text" id="form1" class="form-control">
    <label for="form1" class="">Enter what you want to search</label>
</div>
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Perform a Search</h4>
                        <!--Text-->
                        <p class="card-text">
   We provide information about everything.</p>
                        <a class="btn btn-primary red">Search</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <div class="card testimonial-card">

              <!--Bacground color-->
              <div class="card-up default-color-dark">
              </div>

              <!--Avatar-->
              <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%288%29.jpg" class="rounded-circle img-responsive">
              </div>

              <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Mohammad Shahnawaz</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> 
                  Software Engineer in Dublin Ireland <i class="fa fa-quote-right"></i> </p>
              </div>

          </div>
                <!--/.Card-->
                <!--Card-->

            </div>
      <div class="col-md-6">
        <div class="card">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
        <a href="#">
            <div class="mask waves-effect waves-light"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">SUNSET</h4>
        <!--Text-->
        <p class="card-text">Some Scenes of sunset in Norway.</p>
        <a href="#" class="btn btn-primary">MORE</a>
    </div>
    <!--/.Card content-->

</div> </div></div>

<!--Section: Blog v.1-->
<section class="section extra-margins">

    <!--Section heading-->
    <h1 class="section-heading">Section title</h1>
    <!--Section sescription-->
    <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!--First row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(80).jpg" alt="Sample image for first version of blog listing">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7 mb-r">
            <!--Excerpt-->
            <a href="" class="amber-text"><h5><i class="fa fa-diamond"></i>Fashion</h5></a>
            <h4>Classic outfit - white off-shoulder top and denim.</h4>
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis aut rerum.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
            <a class="btn btn-cyan">Read more</a>
        </div>
        <!--/Second column-->

    </div>
    <!--/First row-->

    <hr class="hr-mobile">

    <!--Second row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-7 mb-r">
            <!--Excerpt-->
            <a href="" class="indigo-text"><h5><i class="fa fa-coffee"></i>Lifestyle</h5></a>
            <h4>Berlin at the weekend - the best donuts in the city.</h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident et dolorum fuga.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 14/08/2016</p>
            <a class="btn btn-cyan">Read more</a>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(91).jpg" alt="Second image in the first version of blog listing">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/Second column-->

    </div>
    <!--/Second row-->

    <hr class="hr-mobile">

    <!--Third row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(32).jpg" alt="Thrid image in the blog listing.">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7 mb-r">
            <!--Excerpt-->
            <a href="" class="pink-text"><h5><i class="fa fa-suitcase"></i>Travels</h5></a>
            <h4>Guide to the beautiful Cinque Terre.</h4>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet, consectetur.</p>
            <p>by <a><strong>Carine Fox</strong></a>, 11/08/2016</p>
            <a class="btn btn-cyan">Read more</a>
        </div>
        <!--/Second column-->

    </div>
    <!--/Third row-->

</section>
<!--Big blue-->

<!--/Section: Blog v.1-->
<!--Panel-->
<div class="card">
    <div class="card-header danger-color-dark white-text">
        Featured
    </div>
    <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-danger">Go somewhere</a>
    </div>
</div>
<!--/.Panel-->
</div>

<!--/.Card-->
